@import "../../node_modules/normalize.css/normalize.css";
//== Typeface definitions

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf")
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf")
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/ubuntu/Ubuntu-Light.ttf")
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcesanspro/SourceSansPro-Regular.ttf")
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcesanspro/SourceSansPro-Semibold.ttf")
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcesanspro/SourceSansPro-Light.ttf")
}

//== Variables
//=== Typefaces
$body_face: "Source Sans Pro";
$title_face: "Ubuntu";

//=== Colours
$pale_violet: #5C4B51;
$light_teal: #8CBEB2;
$cream: #F2EBBF;
$gold: #F3B562;
$red: #F06060;

$title: saturate(darken($light_teal, 30%), 60%);

//== Standard document setup

* {
  box-sizing: border-box;
}

body{
  font-family: $body_face;
  font-size: 16px;
  color: darken($light_teal, 55%)
}

h1 {
  font-family: $title_face;
  margin: 0;
}

h2 {
  margin: 0 0 1rem;
}

h3 {
  margin: 0 0 0.5rem;
}

p {
  margin: 0 0 0.75rem;
}

button {
  padding: 0.5rem;
  margin: 0;
  display:inline-block;
  border: 0;
}

//== layout
.wrapper{
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: maxcontent;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

section.projects_pane {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  min-height: 522px;
}

section.settings_pane {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  min-height:522px;
}
.path_selector{
  display: flex;

  .path_label {
    flex: 3;
  }

  .path_button {
    flex: 1;
  }
}

//== decoration

.menu_bar {
  background-color: $title;
  padding: 0.5rem 1rem;
}
.app-title {
  color: darken($light_teal, 55%);
}
.projects_pane {
  background-color: darken($light_teal, 55%);
}
.settings_pane {
  background-color: desaturate(darken($light_teal, 5%), 17%);
  padding: 1rem;
}

.settings_section {
  padding: 1rem 0.75rem 2rem;
  background: lighten($light_teal, 30%);
  margin-bottom: 0.5rem;

  .section_title {
    font-family: $title_face;
    font-size: 1.35rem;
    font-weight: 200;
    // color: darken($light_teal, 40%);
    color: $title;
  }

  .detail_title {
    font-family: $title_face;
    font-size: 1.1rem;
    font-weight: 200;
  }
}

.path_label,
.detail_label {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.path_button {
  background-color: desaturate(darken($light_teal, 30%), 15%);
  color: lighten($light_teal, 20%);
  letter-spacing: 0.8px;
}
