---
layout: test-layout
title: Index file bro
---
<h1>test index</h1>
<h2>foo?</h2>
<h3>bar bammm!</h3>

{{> test-partial title='I am the best title'}}
{{> test-helpers test='a'}}

<ul>
{{#each site.testmenu}}
  <li>{{this}}</li>
{{/each}}
</ul>
